body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #0f0f1a;
  background-image: url("./img/pattern.svg");
  min-width: 300px;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  padding: 0;
}

img {
  border-radius: 5px;
}

nav {
  background-color: #1a1a2e;
  padding: 4px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 1000;
}

.nav-logo {
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 20px 20px;
}

.auth {
  background-color: #1a1a2e;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.auth-container {
  padding: 20px;
}

.auth-container h2 {
  margin: 10px 0px 50px;
  color: #e2e8f0;
  font-size: 2rem;
}

.auth-container form {
  color: #e2e8f0;
}

.ep-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

label {
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: 600;
}

input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 16px;
  font-size: 1.3rem;
  border-bottom: 2px solid #818cf8;
  background-color: transparent;
  outline: none;
}

input:focus {
  border-color: #4361ee;
}

input::placeholder {
  color: rgba(100, 116, 139, 0.247);
}

button {
  all: unset;
  color: #0f0f1a;
  background-color: #e2e8f0;
  padding: 12px 24px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #64748b;
}

.sign-text {
  font-size: 1.15rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.sign-text p {
  color: #64748b;
}

.sign-text a {
  color: #818cf8;
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: 1.21rem;
}

.sign-text a:hover {
  color: #4361ee;
}

footer {
  background-color: #1a1a2e;
  color: #e2e8f0;
  text-align: center;
  padding: 20px;
  width: 100%;
  margin-top: auto;
}

.footer-content ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer-content li {
  color: #64748b;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-content li:hover {
  color: #e2e8f0;
}

.ep-input .check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 2px solid #818cf8;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.ep-input .check:hover {
  border-color: #4361ee;
}

.ep-input .check:checked {
  background-color: #818cf8;
}

.ep-input .check:checked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: block;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.checkbox-container label {
  font-size: 1.1rem;
  font-weight: normal;
  cursor: pointer;
}

.termos-label {
  color: #64748b;
  font-size: 0.91rem;
}

.termos {
  color: #64748b;
}

.ep-input:has(.check) {
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

form:has(#checkbox:not(:checked)) button[type="submit"] {
  opacity: 0.2;
  pointer-events: none;
  cursor: not-allowed;
  background-color: #ccc;
}

form:has(#checkbox:not(:checked)) button[type="submit"],
form:has(#email:placeholder-shown) button[type="submit"],
form:has(#password:placeholder-shown) button[type="submit"],
form:has(#password-confirm:placeholder-shown) button[type="submit"] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
  background-color: #cccccc44;
}

form:not(:has(#checkbox:not(:checked))) :not(:has(#email:placeholder-shown)) :not(:has(#password:placeholder-shown)) :not(:has(#password-confirm:placeholder-shown)) button[type="submit"] {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
  background-color: #e2e8f0;
}

form:not(:has(#checkbox:not(:checked))) :not(:has(#email:placeholder-shown)) :not(:has(#password:placeholder-shown)) :not(:has(#password-confirm:placeholder-shown)) button[type="submit"]:hover {
  background-color: #64748b;
}

@media (max-width: 468px) {
  html {
    font-size: 70%;
  }

  .footer-content ul {
    gap: 20px;
  }
}
